<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.mytrain">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />



    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".share.ShareActivity" />
        <activity android:name=".RxJavaText.RxjavaActivity" />
        <activity android:name=".RxJavaText.RxjavaSubjectActivity" />
        <activity android:name=".androidh5.AndroidH5Activity" />
        <activity android:name=".androidh5.LookWebActivity" />
        <activity android:name=".databing.DataActivity" />
        <activity android:name=".dialog.DialogShowActivity" />
        <activity android:name=".dialog.ProgressDialogTypeActivity" />
        <activity android:name=".designmode.DesignModeActivity" />
        <activity android:name=".commontitle.CommonTitleActivity" />
        <activity android:name=".location.LocationActivity" />
        <activity android:name=".othertrain.EditCodeActivity" />
        <activity android:name=".broadcast.BroadcastMainActivity" />

        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.example.administrator.mytrain.broadcast" />
            </intent-filter>
        </receiver>

        <activity android:name=".kotlin.KotlinMainActivity" />
        <activity android:name=".selfview.SelfViewMainActivity" />
        <activity android:name=".selfview.ViewActivity" />
        <activity android:name=".VideoVoiceActivity"></activity>
    </application>

</manifest>